*{
	margin: 0;
	padding: 0;
	/*user-select: none;  */

}

div {
    display: block;
}

.header{
	height: 99vh;
	position: relative;

}

.header .headerBackground{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	
}

.header .headerBackground img{
	display: block;
	max-width: 100%;
	
}

.header .backgroundText{
	position: relative;
	opacity: 0.2;
	font-size: 14vw;
	text-align: center;
	top: 35vh;
	color: white;
}

.header .headerMyInfo{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
    left: 43vw;
    top: 30vh;
}

.headerMyInfo{
	display: block;
	color: white;
}

.headerPhoto img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-left: 11%;
}

.headerMyName{
    font-size: 50px;
    margin-left: -18%;
}

.headerSiteInfo{
	font-size: 30px;
    margin-left: 1%;
    opacity: 0.8;

}

.loaded .topMenu{
	
	font-size: 2vw;
}


.loaded .header .topMenu .vk{
	display: block;
	left: 2%;
}

.loaded .header .topMenu .git{
	display: block;
	left: 4.5%;
}

.loaded .header .topMenu .in{
	display: block;
	left: 6.8%;
}

.header .topMenu{
	display: block;
	left: 96%;
}

.header .topMenu a{
	opacity: 0.5;
	top: 2vh;
	position: absolute;
	color: white;
	text-decoration: none;
}
.topMenu a:hover{
	opacity: 1;
	color: skyblue;
}

.menu{
	position: fixed;
	z-index: 11;
	display: block;
	width: 35px;
	height: 35px;
	background: white;
	border-radius: 50%;
	margin-left: 94%;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.9);
	right: 20px;
	top: 20px;

}

.menu span, span:before, span:after{
	display: block;
	height: 2px;
	width: 16px;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: 0px;
	background: black;	
}


.menu span:before{
	transition: all 0.2s;
	content: "";
	margin-top: -6px;
}

.menu span:after{
	transition: all 0.2s;
	content: "";
	margin-top: 4px;
}

.menu:hover{
	background: skyblue;
	transition: all 1s;
}

.menuActive span{
	background-color: transparent; 
}

.menuActive span:before{
	transform: rotate(45deg);
	top:5.5px;
}
.menuActive span:after{
	transform: rotate(-45deg);
	top:-4.5px;
}

.mainMenu{
	background-color: grey;
	opacity: 0.95;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 10;	
	display: flex;
	justify-content: center;
	align-items: center;
	left: -100vw;
	transition: all 0.5s;
}
.topMenu a:last-child{
	position: fixed;
}

.mainMenu ul{
	list-style: none;
	padding: 0;
	text-align: center;

}

.mainMenu a{
	display: block;
	width: 100vw;
	color: skyblue;
	text-decoration: none;
	line-height: 3;
	font-weight: 100;
	font-size: 24px;
	letter-spacing: 8px;
	transition: all 0.5s;
}

.mainMenu a:hover{
	background-color: rgba(255,255,255,0.25);
	text-decoration: none;
}

.mainMenuActive{
	left: 0;
}
#num2, #num3, #num4, #num5{
	position: relative;
	background-color: white;
	/*height: 100vh;*/
	
}


.about{
	background-color: #e4e4e4!important; 
	width: 100%;
	height: 420px;
}

.about h2{
	padding: 3% 25%;
	letter-spacing: 5px;
	font-size: 30px;
}

.about .col-md-4{
	margin-left: 10%;
	margin-right: 1%; 
	float: left;
	width: 17.3%;
	border-radius: 30px;
}

.about .col-md-8{
    margin-right: 11%;
    margin-left: 1%;
    float: right;
    width: 56.7%;
    letter-spacing: 1px;

}

.skills{
	background-color: #e4e4e4!important; 
	width: 90%;
	padding-left: 10%;
	margin-right: 10%;
	padding-bottom: 3%;

}

.skills h2{
	padding: 2% 16%;
	letter-spacing: 5px;
	font-size: 30px;

}

.skills figure{
	display: inline-block;
	text-align: center;
    margin-left: 1%;
    position: relative;
    
}
	

.skills figure img{
	margin-top: 30px;
	height: 70px;
	margin-right: 10px;
}

.skills figure:after {
  content: attr(data-title);
  background-color: #151d2a;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: -10px;
  left: 0px;
  transition: 0.15s ease-in-out;
  transform: scale(0.5);
  opacity: 0;
  }

.skills figure:hover:after {
  transform: scale(1);
  opacity: 1;
}

.resume{
	width: 100%;
	height: 130vh;
}

.resume h2{
	padding: 3% 25%;
	letter-spacing: 5px;
	font-size: 30px;
}

#num5{
	background-color: #e4e4e4
}/*
.portfolio{
	width: 100%;
	height: 450px;
	padding-bottom: 10%;
}*/

.portfolio h2{
	padding: 3% 25%;
	letter-spacing: 5px;
	font-size: 30px;
}


.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    color: black;
    margin-top: 10px;
    margin-left: calc(50% - 6vw);
    width: 12vw;
}

.experience{
	/*height: 180vh;*/
}

.block_1:before{
	position: absolute;
    content: "";
    left: 49.9%;
    top: 21%;
    height: 95vh;
    z-index: 1;
    width: 1px;
    background: #151d2a;
}

.experience strong{
	font-size: 24px;
}

.experience .pointCircle, .pointCircle_2, .pointCircle_3, .pointCircle_4 {
	width: 8px;
    height: 8px;
    background: #fff;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: -2px;
    right: 0;
    top: 23%;
    border-radius: 100%;
    border: 4px solid #151d2a;
    z-index: 2;
    
}


.block_1 .date, .block_3 .date{
	display: inline-block;
    padding: 8px 16px;
    float: left;
    left: 29%;
    top: 30px;
    background: #151d2a;
    color: #fff;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}

.block_1 .descript, .block_3 .descript{
	margin-right: 10%;
    margin-top: 2%;
    border: 1px solid #151d2a;
    float: right;
    width: 30%;
    padding: 10px 25px 10px 25px;
}


.experience .pointCircle_2 {
	top: 57vh;
}

.block_2 .date, .block_4 .date{
    display: inline-block;
    padding: 8px 16px;
    float: right;
    left: 19.7%;
    top: 32vh;
    background: #151d2a;
    color: #fff;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}


.block_2 .descript, .block_4 .descript{
    margin-left: 10%;
    margin-top: 27vh;
    border: 1px solid #151d2a;
    float: left;
    width: 30%;
    padding: 10px 25px 10px 25px;
}

.block_3 .descript{
	margin-top: 16%;
}

.block_3 .date{
	top: 53vh;
    float: left;
    left: -8%;
}

.experience .pointCircle_3 {
	top: 83vh;
}


.block_4 .descript{
	margin-top: 27vh;
}

.block_4 .date{
	float: right;
    left: 8vw;
    top: 55vh;
}

.experience .pointCircle_4 {
    top: 105vh;
}






/*PRELOADER*/
.preloader{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 99;
	transition: 0.3s 0.4s;
	
}

.preloadLeft, .preloadRight{
	position: absolute;
	background: #696969;
	width: 51%;
	height: 100%;
	z-index: 1000;
	transition: 0.3s 0.4s;
}

.preloadLeft{
	left: 0;
}

.preloadRight{
	right: 0;
}

.loaded .preloadLeft{
	transform: translate(-100%);
}

.loaded .preloadRight{
	transform: translate(100%);
}

.loaded .preloader{
	visibility: hidden;
}

.loaded .round1{
	opacity: 0;
}

.round1, .round1:after, .round1:before{
  border-radius: 50%;
  border: 3px solid transparent;
}

.round1:after, .round1:before{
  position: absolute;
  content: '';
}

.round1{
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-top-color: skyblue;
  position: absolute;
  animation: spin 2s linear infinite;
  margin: -40px 0 0 -40px;
  z-index: 1001;
}

.round1:after{
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border-top-color: yellow;
  animation: spin 2s linear infinite;
}

.round1:before{
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border-top-color: palegreen;
  animation: spin 3s linear infinite;
}

@keyframes spin{
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.portfolio{
	padding-left: 11%;
	/*padding-bottom: 4%;*/
	height: 100vh;
	width: 89%;
}

.portfolio .allPic{
	display: block;
	width: 80%;
	padding-left: 4%;
	padding-top: 2%;
}

.portfolio .minPic{
	display: inline-block;
	width: 31%;
	margin-left: 15px;
		
}

.portfolio li{
	list-style: none;
}

.portfolio .minPic img{
	width: 100%;
	
}

.portfolio li>figure {
    overflow: hidden;
    position: relative;
}

.allPic .zoomImg {
    height: 98%;
    opacity: 0;
    transition: all .3s ease-in-out;
    color: transparent;
    display: block;
    background: rgba(0,0,0,0.72);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.allPic .zoomImg:hover{
	background: rgba(0,0,0,0.72);
	opacity: 1;
}

.allPic .zoomImg h6{
    font-weight: 600;
    color: #fff;
    font-size: 24px;
    letter-spacing: 4px;
    text-align: center;
    position: absolute;
    bottom: 50%;
    left: auto;
    width: 100%;
}

.allPic .zoomImg h6 small{
	font-size: 14px;
	letter-spacing: 2px;
}

.allPic .zoomImg a{
	display: block;
	position: absolute;
    left: 28%;
    bottom: 24%;
    font-size: 20px;
	color: white;
	background-color: black;
	border-radius: 50px; 
	width: 40px;
	height: 40px;
	opacity: 0.4;
	text-align: center;
	margin-top: 10px;
}

.allPic .zoomImg a:last-child{
	left: 60%;
}

.allPic .zoomImg a:hover{
	opacity: 0.8;
	color: skyblue;
}

.allPic .zoomImg a i{
	margin-top: 10px;
	margin-left: 1px;
}

/*ФОРМА СВЯЗИ*/

.contact{
	display: block;
	margin: 0 10%;
	width: 80%;
	height: 100vh;
	font-size: 18px;
}

.contact h2{
	padding: 3% 20%;
	letter-spacing: 5px;
	font-size: 30px;
}

.required{
	color:red;
}

.contact .left{
	display: block;
	float: left;
	width: 25vw;
}


.contact .right{
	display: block;
	float: right;
	width: 45vw;
}

.input-xxlarge{
	width: 530px;
}

.massage textarea{
	height: 30vh;
	font-size: 18px;
	margin-top: 5px;
}

.right button{
	display: block;
	border: none;
    color: #fff;
    background-color: #151d2a;
    line-height: 40px;
    padding: 0 25px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 1vh;
    margin-right: 6vw;
    float: right;
}

.right button i{
	font-size: 15px;
}

.right button:hover{
	color: #00a6bb;;
	background-color: #151d2a;
}

.name, .e-mail, .phone{
	display: block;
	height: 10vh;
}

.right input{
	font-size: 18px;
	height: 25px;
	margin-top: 5px;
}

.left a{
	color: #151d2a;
	text-decoration: none;
}

.left a:hover { 
	color: skyblue; 
   } 

 .left i{
 	color: #00a6bb;
 }


.btnUp{
	position: fixed;
	bottom: -140px;
	right: 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #00a6bb;
	background: #333;
	z-index: 1;
	outline: 0!important;
	transition: 0.4s;
}

.btnUp.active{
	bottom: 40px;
}

.btnUp:after{
	content: '';
	width: 10px;
	height: 10px;
	border-top: 2px solid #00a6bb;
	border-left: 2px solid #00a6bb;
	transform: rotate(45deg);
	position: absolute;
	top: 4px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

}


 footer{
 	color: white;
 	height: 10vh;
 	width: 100%;
 	background-color:  #151d2a; 
 }

 footer p{
 	display: block;
 	width: 80%;
 	padding-top: 3vh;
 	text-align: center;
 	font-size: 16px;
 	letter-spacing: 1px;
 }
